#uploadBtn, #resetFileBtn{
    margin: 1rem 0rem;
}

#fileListTable, #fileUploadTable{
    width:50rem;
}

#fileListTable, #fileListTable td, #fileListTable th{
    border: 1px solid black;    
    text-align: center;
}

#deleteBtn, #editBtn{
    margin-left: .5rem;
}